{% extends "base.html" %}
{% block title %}Write a Secret{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <form method="post">
        <h3></h3>
        <h4>Write a secret, and post it by clicking the submit button!</h4>
        <h3></h3>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        {{ ckeditor.create() }}
        <h3></h3>
        Your email (Optional):
        <input type="text" name="emailTextFieldAdd" placeholder="yourEmail@gmail.com">
        <h3></h3>
        <input class="ui teal submit button" type="submit" value="Submit">
    </form>

    {{ ckeditor.load(custom_url=url_for('static', filename='ckeditor/ckeditor.js')) }}
    {{ ckeditor.config() }}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <div class="ui icon error message">
                        <i class="attention circle icon"></i>
                        <div class="content">
                            <div class="header">Error</div>
                            <p>{{ message }}</p>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

{% endblock %}