{% extends "admin_base.html" %}
{% block title %}Queue{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <meta http-equiv="refresh" content="30">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <div class="ui info message">
                        <div class="content">
                            <div class="header">Info</div>
                            <p>{{ message }}</p>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h3></h3>

    <table class="ui single line table">
        <thead>
        <td>ID</td>
        <td>Content</td>
        <td>Submit Time</td>
        <td>Operations</td>
        </thead>

        {% for post in queue %}
            <tr>
                <td>{{ post['id'] }}</td>
                <td>{{ post['content']|safe }}</td>
                <td>{{ post['submit_time'] }}</td>
                <td>
                    <a href="{{ url_for('migrateFromQueue', qid=post['id']) }}">Approve</a>
                    <p></p>
                    <a href="{{ url_for('deleteFromQueue', qid=post['id']) }}">Reject</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}