<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8"/>
        <link rel="stylesheet"
              href="../static/semantic.css"/>
        <script src="../static/semantic.js"></script>
        <title>{% block title %}{% endblock %} - Admin - Purdue Secrets</title>
        <style type="text/css">
            body {
                background-color: #FFFFFF;
            }

            .ui.menu .item img.logo {
                margin-right: 1.5em;
            }

            .ui.footer.segment {
                margin: 5em 0em 0em;
                padding: 5em 0em;
            }
        </style>
    {% endblock %}
</head>
<body>
<!-- Semantic UI Code -->
<div class="ui container">
    <div class="ui three item inverted menu">
        <a class="item" href="{{ url_for('adminQueue') }}">
            Queue
        </a>
        <a class="item" href="{{ url_for('adminReported') }}">
            Reported
        </a>
        <a class="item" href="{{ url_for('adminLogout') }}">
            Logout
        </a>
    </div>

    <div id="content">{% block body %}{% endblock %}</div>
    <h1></h1>
    <div class="ui fixed vertical footer segment" id="footer">
        {% block footer %}
            &copy; Copyright 2019 by Hei Jing Tsang, James Kim</a>
        {% endblock %}
    </div>
</div>
</body>
</html>