<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8"/>
        <link rel="stylesheet"
              href="../static/semantic.css"/>
        <script src="../static/semantic.js"></script>
        <title>{% block title %}{% endblock %} - Purdue Secrets</title>
    {% endblock %}
</head>
<body>
<!-- Semantic UI Code -->
<div class="ui container">
    <div class="ui four item inverted menu">
        <a class="item" href="{{ url_for('home') }}">
            Home
        </a>
        <a class="item" href="{{ url_for('wall') }}">
            Wall of Secrets
        </a>
        <a class="item" href="{{ url_for('add') }}">
            Write a Secret
        </a>
        <a class="item" href="{{ url_for('report') }}">
            Report
        </a>
    </div>

    <div id="content">{% block content %}{% endblock %}</div>
    <h1></h1>
    <div class="ui fixed vertical footer segment" id="footer">
        {% block footer %}
            &copy; Copyright 2019 by Hei Jing Tsang, James Kim</a>
        {% endblock %}
    </div>
</div>

</body>
</html>