<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8"/>
        <link rel="stylesheet"
              href="../static/semantic.css"/>
        <script src="../static/semantic.js"></script>
        <title>{% block title %}{% endblock %} - Purdue Secrets</title>
        <style type="text/css">
            body {
                background-color: #FFFFFF;
            }

            .ui.menu .item img.logo {
                margin-right: 1.5em;
            }

            .ui.footer.segment {
                margin: 5em 0em 0em;
                padding: 5em 0em;
            }
        </style>
    {% endblock %}
</head>
<body>
<!-- Semantic UI Code -->
<div class="ui container">
    <div class="ui four item inverted menu">
        <a class="item" href="{{ url_for('home') }}">
            Home
        </a>
        <a class="item" href="{{ url_for('wall') }}">
            Wall of Secrets
        </a>
        <a class="item" href="{{ url_for('add') }}">
            Write a Secret
        </a>
        <a class="item" href="{{ url_for('report') }}">
            Report
        </a>
    </div>

    <div id="content">{% block body %}{% endblock %}</div>

    <div class="ui vertical footer segment" id="footer">
        {% block footer %}
            &copy; Copyright 2019 by Hei Jing Tsang, James Kim</a>
        {% endblock %}
    </div>
</div>

</body>
</html>