{% extends "base.html" %}
{% block title %}Report{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <form class="ui equal width form" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="field">
            <label>ID</label>
            <input type="number" name="id" placeholder="ID">
        </div>
        <h3></h3>
        <h4>Reason</h4>
        <h3></h3>
        {{ ckeditor.create() }}
        <h3></h3>

        Your email (Optional):
        <input type="text" name="emailTextFieldReport" placeholder="yourEmail@gmail.com">
        <h3></h3>

        <input class="ui teal submit button" type="submit" value="Submit">

    </form>

    {{ ckeditor.load(custom_url=url_for('static', filename='ckeditor/ckeditor.js')) }}
    {{ ckeditor.config() }}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <div class="ui icon error message">
                        <i class="attention circle icon"></i>
                        <div class="content">
                            <div class="header">Error</div>
                            <p>{{ message }}</p>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}