{% extends "base.html" %}
{% block title %}#{{ secret['id'] }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <!-- Print the secret post -->
    <!-- secret is a variable passed in from /wall/<int:sid> -->
    <h1></h1>
    <h3>#{{ secret['id'] }}</h3>
    <h3></h3>
    <h4>{{ secret['content']|safe }}</h4>
    <h1></h1>
    <h1></h1>
    <p>Submit Time: {{ secret['submit_time'] }}</p>
    <p>Posted Time: {{ secret['post_time'] }}</p>

    <form method="post">
        <a href="{{ url_for('like', sid=secret['id'], detail=0) }}">
            <div class="ui labeled button" tabindex="0">
                <div class="ui red button">
                    <i class="heart icon"></i> Like
                </div>
            </div>
        </a>
        <a class="ui basic red left pointing label">
            {{ secret['like'] }}
        </a>
    </form>

    <form class="ui form" method="post">
        <h3></h3>
        <h4>Write a reply!</h4>
        <h3></h3>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {{ ckeditor.create() }}
        <h3></h3>
        <div class="field">
            <label>Your email (Optional):</label>
            <input type="email" name="emailTextFieldAdd" placeholder="abc@purdue.edu">
        </div>
        <h3></h3>
        <input class="ui teal submit button" type="submit" value="Submit">
    </form>

    {{ ckeditor.load(custom_url=url_for('static', filename='ckeditor/ckeditor.js')) }}
    {{ ckeditor.config() }}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <div class="ui icon error message">
                        <i class="attention circle icon"></i>
                        <div class="content">
                            <div class="header">Error</div>
                            <p>{{ message }}</p>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

{% endblock %}