{% extends "base.html" %}
{% block title %}Wall of Secrets{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <meta http-equiv="refresh" content="30">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <div class="ui success message">
                        <div class="content">
                            <div class="header">Success</div>
                            <p>{{ message }}</p>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% for secret in secrets %}
        <div class="ui padded container segment">
            <td class="selectable">
                <a href="{{ url_for('secret_details', sid=secret['id']) }}">#{{ secret['id'] }}</a>
            </td>
            <h5>{{ secret['content']|safe }}</h5>
            <p>{{ secret['post_time'] }}</p>
        </div>
    {% endfor %}

{% endblock %}